.timeline {
  margin-bottom: 40px;
}

.timelineEntry {
  position: inherit;
  min-height: 120px;
}

.timeline-info-birth {
  color: rgb(130,130,130);
  font-style: italic;

}

.timeline-info-death {

  color: rgb(130,130,130);
  font-style: italic;
}

a {
  text-decoration: none;
    color: rgb(50,50,50);
}

h2 {
  margin-bottom: 7px;
  margin-top: 2px;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

img {
  border-radius: 50%;
}

p {
  color: rgb(40,40,40);
}

#content #site-title {
    width: 0px !important;
}

.timelinePicture {

  visibility: visible;
  height: 120px;
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  position: absolute;
  background-size: cover;
background-position: center;
  top: 50%;
  margin-top: -60px

}

.timeline {
  margin: 0 auto;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1.7px;
  margin: 0 auto;
  padding-top: 30px;
  background: rgb(150,150,150);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li .timelineEntry {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  color: rgb(50,50,50);
}

.timeline ul li:nth-child(odd) .timelineEntry {
  left: 35px;
}

.timeline ul li:nth-child(odd) .timelineEntry .timelinePicture{
  float: left;
  left: 10px;
}

.timeline ul li:nth-child(even) .timelineEntry .timelinePicture{
  float: right;
  right: 10px;
}

.timeline ul li:nth-child(odd) .timeline-entry-content {
  padding-left: 140px;
  text-align: left;
}

.timeline ul li:nth-child(even) .timeline-entry-content {
  padding-right: 140px;
  text-align: right;
}

.timeline ul li:nth-child(odd) .timelineEntry::before  {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(50,50,50) transparent transparent;
}

.timeline ul li:nth-child(even) .timelineEntry {
  left: -460px;
}


.timeline ul li::after {
  background: #fff;
  transition: background .35s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #c21616;
}

.timeline ul li .timelineEntry {
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease-in-out;
}

.timeline ul li:nth-child(odd) .timelineEntry {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) .timelineEntry {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view .timelineEntry {
  transform: none;
  visibility: visible;
  opacity: 1;
  //box-shadow: 1px 1px 3px 0.5px rgb(150,150,150);
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .timelineEntry {
    left: -310px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li .timelineEntry {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) .timelineEntry {
    left: 35px;
  }

  .timeline ul li:nth-child(even) .timelineEntry::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(50, 50, 50) transparent transparent;
  }
}
