body {
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: #000;
    color: #fff;
    height: 55px;
    align-items: baseline;
}

nav #logo {
    font-family: 'Playfair Display', serif;
    margin: 0 50px 0 15px;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-content: center;
    align-items: baseline;
    color: #fafafa;
}

nav a {
    color: #fafafa;
    text-decoration: none;
}

nav #logo .highlighted {
    font-weight: bold;
    font-style: italic;
    font-size: 27px;
    margin: 0 0 0 10px;
}

nav #search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 16px;
}

nav #search-bar .icon {
    border-left: 1px solid #d0d0d0;
    padding: 8px 10px 8px 15px;
}

nav #search-bar input {
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #D2D2D2;
    font-weight: normal;
}

nav #search-bar input::-webkit-input-placeholder {
    color: #D2D2D2;
}

nav #search-bar input:focus {
    outline: none;
}

nav #user-information {
    display: flex;
    align-items: baseline;
}

nav #user-information #welcome-message {
    display: flex;
    margin: 0 20px;
    color: #D2D2D2;
    font-weight: normal;
    font-size: 16px;
}

nav #user-information #welcome-message a {
    text-decoration: none;
    color: #D2D2D2;
}

nav #user-information #logout-icon {
    width: 55px;
    height: 55px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    line-height: 55px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

nav #user-information #logout-icon .icon {
    line-height: 55px;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
}

#content #site-title {
    width: 255px;
    position: relative;
}

#content #site-title-wrapper {
    transform: rotate(-90deg);
    position: fixed;
    width: 100vh;
    left: -37vh;
    top: 25vh;
    transform-origin: center center;
}

#content #site-title-label {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    border-bottom: 15px solid #000;
}

#content #site-content {
    display: flex;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
}
