body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  font-size: 16px;
  padding: 0;
	margin: 0;
}

h1#title {
  font-family: 'Playfair Display', serif;
	font-weight: 300;
	font-size: 44px;
	margin: 0 auto;
	padding-top: 180px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 40px;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: black;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}

.wrapper {
	margin: 0;
}

.highlighted {
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
}

.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 40px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.1);
	text-align: center;
}

.login-box .box-header {
	background-color: black;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: 13px;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: black;
}

.login-box input:focus {
	outline: none;
	border-color: black;
	transition: 0.5s;
	color: black;
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: black;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: black !important;
	transition: 0.5s;
}


















/* Kommentar */
